@font-face {
    font-family: "Helvena";
    src: url("../fonts/helvana/TTF/Helvena-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvena";
    src: url("../fonts/helvana/TTF/Helvena-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvena";
    src: url("../fonts/helvana/TTF/Helvena-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvena";
    src: url("../fonts/helvana/TTF/Helvena-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvena";
    src: url("../fonts/helvana/TTF/Helvena-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvena";
    src: url("../fonts/helvana/TTF/Helvena-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}